body {
	background-color: #F2F2F2;
	margin: 0px;
	font-family: 'open sans';
}
#fixed-bar {
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	margin-top: -30px;
	box-shadow: 0px -2px 2px 5px gray;
}
#left-part {
	float: left;
	padding: 15px;
}
#right-part {
	float: right;
	background-color: #c7c7c7;
	margin-bottom: 16px;
    margin-right: 12px;
    margin-top: 13px;
    padding: 10px;
}
#header {
	padding: 10px 10px;
	margin: 30px 200px;
}
#title {
	float: left;
	margin-right: 215px;
	margin-top: 25px;
}
.name {
	font-size: 40px;
	font-family: 'meddon';
}
.subscript {
	display: block;
	text-align: center;
}
.list {
	display: inline-block;
	margin-top: 80px;
}
.sublist {
	display:none;
	margin-top: 25px;
	position: absolute;
	margin-left: -97px;	
}
.listitem {
	display: inline-block;
	padding: 10px;
}
.subitem {
	display: inline;
	padding: 10px;
}
.content-upper {
	color: #4C4C4C;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 75px;
	margin-bottom: 350px;
}
.cakeimg {
	height: 322px;
	background: url("sprite1.jpg") -490px -11px;
	background-repeat: no-repeat;
}
.float-it-left {
	float: left;
	width: 225px;
	margin-right: 12px;
	font-size: 24px;
	margin-bottom: 20px;
}
.treatimg {
	height: 322px;
	background: url("sprite1.jpg") -251px -11px;
	background-repeat: no-repeat;
}
.coffeeimg {
	height: 322px;
	background: url("sprite1.jpg") -8px -8px;
	background-repeat: no-repeat;
}
.scakeimg {
	height: 322px;
	background: url("sprite1.jpg") -722px -10px;
	background-repeat: no-repeat;
}
.cake-class {
	padding: 10px;
	background-color: #F07E94;
}
.treat-class {
	padding: 10px;
	background-color: #76CEE8;
}
.coffee-class {
	padding: 10px;
	background-color: #F3814C;
}
.specialcake-class {
	padding: 10px;
	background-color: #99BC8C;
}
p {
	margin-bottom: 40px;
	font-size: 15px;
}
.clr {
	clear: left;
}

.content-foot {
	float: left;
	padding-top: 15px;
}
.content2 {
	background: url("img1.png");
	width: 465px;
	height: 280px;
	float: left;
}
.content1 {
	float: left;
	width: 50%;
}
.btn {
	background-color: #c7c7c7;
	padding: 15px 20px;
}
a {
	text-decoration: none;
	color :#4C4C4C;
}
.footer {
padding: 15px;
background-color: #76CEE8;
float: left;
width: 100%;
}
.information {
	margin: 40px 200px;
	float: left;
}
footer {
	text-align: center;
	margin-top: 30px;
	clear: both;
}
h2 {
	font-family: 'meddon';
}

.copyright {
	float: right;
	margin-right: 230px;
	margin-top: 125px;
}
.copy {
	display: block;
	text-align: right;
}
li:hover {
color: #9FCEEA;	
}
li:hover>.sublist {
	color: #9FCEEA;
	display: inline;
	}

